.card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1em 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 231px;
    overflow-y: scroll;
    text-align: left;
  }