.card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1em 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formControl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}

.label {
    margin-bottom: 0.5em;
    font-size: 18px;
    font-weight: 800;
}

.input {
    font-size: 20px;
    margin-right: 0.5em;
}

.searchButton{
    padding: 0.5em;
}