.h1{
    text-align: center;
}

.h3{
    text-align: center;
}

.inputText{
    font-size: 20px;
    margin-right: 00.5em;
}

.searchButton{
    padding: 00.5em;
}

.rowCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}