.wrapperSearchBar input {
    border-style: none;
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    margin-right: 10px;
    outline: none;
  }
  
  .wrapperSearchBar button {
    width: 100px;
  }
  
  .wrapperSearchBar button:hover {
    background-color: green;
  }
  